/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "dm-sans";
  src: url("fonts/DMSans-VariableFont.ttf");
}

@font-face {
  font-family: "dm-sans";
  src: url("fonts/DMSans-VariableFont.ttf");
  font-style: italic;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
  line-height: 1.6;
  font-family: dm-sans, Arial, Helvetica, sans-serif;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

.background-gradient {
  background: rgb(46, 0, 0);
  background: linear-gradient(
    183deg,
    rgba(46, 0, 0, 1) 0%,
    rgba(2, 4, 18, 1) 100%
  );
  background-attachment: fixed;
  position: fixed;
  z-index: -1;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

header {
  padding: 1rem 0;
  text-align: center;
}
header nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

header a {
  color: #fff;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#hero {
  background: url("hero-background.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

#hero h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

#about,
#projects,
#contact {
  padding: 2rem;
  text-align: center;
}

footer {
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 2.5rem;
  }
}
